
body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff8e1;
  color: #333;
}

header {
  background-color: #f4c542;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 3em;
}

.container {
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}


.gallery {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
}

.gallery img {
    height: 300px;
    border-radius: 10px;
    flex-shrink: 0;
}


h2 {
  color: #d88c00;
  border-bottom: 2px solid #f4c542;
  padding-bottom: 5px;
}

ul {
  list-style-type: square;
  padding-left: 20px;
}

footer {
  background-color: #f4c542;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
}

a {
  color: #d88c00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
